apiVersion: apps/v1
kind: Deployment
metadata:
  name: $APP_NAME
  labels:
    app: $APP_NAME
  namespace: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: $APP_NAME
  template:
    metadata:
      labels:
        app: $APP_NAME
    spec:
      imagePullSecrets:
      - name: docker-credential
      containers:
      - name: $APP_NAME
        image: ${ECR_REPO}/${APP_NAME}:${APP_VERSION}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: DB_NAME
          value: my_database
        - name: DB_USER
          value: tim
        - name: DB_PWD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: mysql-password
        - name: DB_SERVER
          valueFrom:
            configMapKeyRef:
              name: java-configmap
              key: mysql
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: $APP_NAME
  name: java-app-svc
  namespace: my-app
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: $APP_NAME