apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: java-ingress 
  namespace: my-app
spec:
  ingressClassName: nginx
  rules:
  - host: aa551134bf85144f9be184c67a6d4840-719439296.us-west-1.elb.amazonaws.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: java-app-svc 
            port:
              number: 8080
